<div class="nova-my-profile mt-4 mb-5 container-fluid">
    <h3 class="text-center">Your personal information</h3>
    <div class="row">
        <div class="col-12">
            <div class="card py-4 m-3">
                <form class="m-4">
                    <section>
                        <div class="form-group row ">
                            <label class="col-md-3 form-control-label"> Social title </label>
                            <div class="col-md-6 form-control-valign">
                                <label class="radio-inline">
                                    <input name="id_gender" type="radio" value="1" [checked]="user?.gender === 'male'">
                                    Mr.
                                </label>
                                <label class="radio-inline ml-4">
                                    <input name="id_gender" type="radio" value="2"
                                        [checked]="user?.gender === 'female'">
                                    Mrs.
                                </label>
                            </div>
                        </div>
                        <div class="form-group row ">
                            <label class="col-md-3 form-control-label required">First name</label>
                            <div class="col-md-6">
                                <input class="form-control" name="firstname" type="text" required=""
                                    [value]="user?.firstName">
                            </div>
                        </div>
                        <div class="form-group row ">
                            <label class="col-md-3 form-control-label required">Last name</label>
                            <div class="col-md-6">
                                <input class="form-control" name="lastname" type="text" required=""
                                    [value]="user?.lastName">
                            </div>
                        </div>
                        <div class="form-group row ">
                            <label class="col-md-3 form-control-label required">Email</label>
                            <div class="col-md-6">
                                <input class="form-control" name="email" type="email" required="" [value]="user?.email">
                            </div>
                        </div>
                        <div class="form-group row ">
                            <label class="col-md-3 form-control-label"> Birthdate </label>
                            <div class="col-md-6">
                                <input class="form-control" name="birthday" type="text" [value]="user?.birthdate"
                                    placeholder="MM/DD/YYYY">
                                <span class="form-control-comment">
                                    (E.g.: 05/31/1970)
                                </span>
                            </div>
                            <div class="col-md-3 form-control-comment"> Optional</div>
                        </div>
                        <div class="form-group row ">
                            <label class="col-md-3 form-control-label"> </label>
                            <div class="col-md-6">
                                <label>
                                    <input name="optin" type="checkbox" value="1">
                                    Receive offers from our partners
                                </label>
                            </div>
                            <div class="col-md-3 form-control-comment"></div>
                        </div>
                        <div class="form-group row ">
                            <label class="col-md-3 form-control-label"> </label>
                            <div class="col-md-6">
                                <label>
                                    <input name="newsletter" type="checkbox" value="1">
                                    Sign up for our newsletter<br><em>Subscrible for latest strories and promotions (35%
                                        save)</em>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row ">
                            <label class="col-md-3 form-control-label"> </label>
                            <div class="col-md-6">
                                <div data-sitekey="6LdgLrEUAAAAAEjZBP-S_9g8RKwd22omdq2jTcxb" data-theme="light"
                                    data-size="normal">
                                    <div style="width: 304px; height: 78px;">
                                        <div>
                                            <iframe
                                                src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdgLrEUAAAAAEjZBP-S_9g8RKwd22omdq2jTcxb&amp;co=aHR0cHM6Ly9kZW1vdGhlbWUuc2l0ZTo0NDM.&amp;hl=en&amp;v=JZfekeK8w6ZlhLfH_ZyseSLX&amp;theme=light&amp;size=normal&amp;cb=g8rti91qqpi5"
                                                width="304" height="78" role="presentation" name="a-h2ad30ng5391"
                                                frameborder="0" scrolling="no"
                                                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox">
                                            </iframe>
                                        </div>
                                        <textarea id="g-recaptcha-response" name="g-recaptcha-response"
                                            class="g-recaptcha-response"
                                            style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <footer class="clear-fix">
                        <button class="btn btn-primary float-right" type="submit">
                            Save
                        </button>
                        <div class="checkbox">
                            <label class="form-check-label">
                                <input type="checkbox" id="Register" name="acceptLopd">
                                <a href="#">
                                    I accept conditions
                                </a>
                                <span style="color:red">*</span>
                            </label>
                            <br>
                        </div>
                    </footer>
                </form>
            </div>
        </div>
    </div>

    <div class="text-uppercase ml-4">
        <a routerLink="/profile" class="text-reset btn-back-your-account">
            <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>
            Back to your account
        </a>
    </div>
</div>