<div class="container-fluid p-5">
    <div class="row">
        <div class="col-md-6">
            <div class="nova-men-collection mb-5">
                <a href="#">
                    <img src="https://demotheme.site/prestashop/at_nova_demo/themes/at_nova/assets/img/modules/appagebuilder/images/home2-banner1.jpg"
                        alt="Men Collection">
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="nova-women-collection mb-5">
                <a href="#">
                    <img src="https://demotheme.site/prestashop/at_nova_demo/themes/at_nova/assets/img/modules/appagebuilder/images/home2-banner2.jpg"
                        alt="Women Collection">
                </a>
            </div>
        </div>
    </div>
</div>