<footer>
    <div class="nova-top-footer px-4">
        <div class="container-fluid bg-dark text-white py-2">
            <div class="row p-4 justify-content-center">
                <div class="col-lg-6 col-xl-5">
                    <h3>
                        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                        Get in touch
                    </h3>
                    <p>Subscrible for latest strories and promotions (35% save)</p>
                </div>
                <div class="col-lg-6 col-xl-5">
                    <div class="input-group mb-3 row m-0 justify-content-center justify-content-md-start">
                        <div class="col-md-8 p-0 justify-content-center justify-content-md-start">
                            <input type="text" class="form-control rounded-0" placeholder="Your email address"
                                aria-label="Your email address" aria-describedby="button-addon2">
                        </div>
                        <div
                            class="input-group-append col-md-4 col-6 p-0 justify-content-center justify-content-md-start mt-3 mt-md-0">
                            <button class="btn btn-outline-secondary rounded-0" type="button"
                                id="button-addon2">SUBCRIBLE</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 justify-content-center justify-content-md-start d-flex">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="" id="" value="checkedValue">
                                    I accept conditions <span class="text-danger">*</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nova-bottom-footer container-fluid py-4">
        <div class="row align-items-center">
            <div class="col-lg-4 text-center text-lg-left">
                © 2019
                <span>NOVA</span>
                . All rights reserved
            </div>
            <div class="col-lg-4 text-center my-3">
                <ul class="m-0 justify-content-center align-items-center list-unstyled text-center">
                    <li>
                        <a href="#">Contact Press</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Shipping & Returns</a>
                    </li>
                    <li>
                        <a href="#">Term & Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 text-center text-lg-right">
                <a href="http://prestashop.com" class="">
                    <img src="https://demotheme.site/prestashop/at_nova_demo/themes/at_nova/assets/img/modules/appagebuilder/images/payment.png"
                        class="" title="" alt="" style=" width:auto; height:auto">

                </a>
            </div>
        </div>
    </div>
</footer>