<nav class="navbar navbar-expand-sm navbar-dark text-white nova-top-navbar px-0">
    <div class="container-fluid py-1 px-0">
        <div class="col-md-3 col-lg-4 col-6 text-left">
            <i class="fa fa-phone"></i>
            (+84) 0123 456 789
        </div>
        <div class="col-md-6 col-lg-4 d-none d-md-block text-center">
            Free shipping for order over $200 !
            <a href="#" class="nova-top-navbar-btn-shop">Shop Now</a>
        </div>
        <div class="col-md-3 col-lg-4 col-6 d-flex justify-content-end">
            <div class="dropdown show mr-3">
                <a class="text-reset text-decoration-none" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    USD <i class="fa fa-angle-down"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item active" href="#">USD $</a>
                    <a class="dropdown-item" href="#">AUD $</a>
                    <a class="dropdown-item" href="#">EUR €</a>
                    <a class="dropdown-item" href="#">GBP £</a>
                </div>
            </div>
            <div class="dropdown show">
                <a class="text-reset text-decoration-none" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ENGLISH <i class="fa fa-angle-down"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item active" href="#">
                        <img src="https://demotheme.site/prestashop/at_nova_demo/img/l/1.jpg" alt="en" width="16"
                            height="11">
                        English
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="https://demotheme.site/prestashop/at_nova_demo/img/l/2.jpg" alt="fr" width="16"
                            height="11">
                        Français
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="https://demotheme.site/prestashop/at_nova_demo/img/l/3.jpg" alt="de" width="16"
                            height="11">
                        Deutsch
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="https://demotheme.site/prestashop/at_nova_demo/img/l/4.jpg" alt="it" width="16"
                            height="11">
                        Italiano
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="https://demotheme.site/prestashop/at_nova_demo/img/l/5.jpg" alt="es" width="16"
                            height="11">
                        Español
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="https://demotheme.site/prestashop/at_nova_demo/img/l/6.jpg" alt="ar" width="16"
                            height="11">
                        اللغة العربية
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="https://demotheme.site/prestashop/at_nova_demo/img/l/7.jpg" alt="pl" width="16"
                            height="11">
                        Polski
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- Top navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white nova-bottom-navbar">
    <div class="col-4 col-lg-2">
        <a class="navbar-brand" href="#">
            <img class="img-fluid"
                src="https://demotheme.site/prestashop/at_nova_demo/img/nova-fashion-store-logo-1544243007.jpg"
                alt="Nova Logo">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    </div>

    <div class="col-4 col-lg-7">
        <div class="collapse navbar-collapse text-black text-uppercase font-weight-bold" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="">Home </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/clothes">Shop</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/product-detail">Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-4 col-lg-3 nova-bottom-right-navbar d-flex justify-content-end">
        <a href="#"><i class="fa fa-search"></i></a>
        <a href="#"><i class="fa fa-user"></i></a>
        <a class="position-relative" href="#">
            <i class="fa fa-heart"></i>
            <span>0</span>
        </a>
        <a href="#" class="position-relative">
            <i class="fa fa-shopping-cart"></i>
            <span>0</span>
        </a>
    </div>
</nav>