<nav class="navbar navbar-expand-sm navbar-dark text-white nova-top-navbar px-0">
    <div class="container-fluid py-1 px-0">
        <div class="col-md-3 col-lg-4 col-6 text-left">
            <i class="fa fa-phone"></i>
            (+84) 0123 456 789
        </div>
        <div class="col-md-6 col-lg-4 d-none d-md-block text-center">
            Free shipping for order over $200 !
            <a href="#" class="nova-top-navbar-btn-shop">Shop Now</a>
        </div>
        <div class="col-md-3 col-lg-4 col-6 d-flex justify-content-end">
            <div class="dropdown show mr-3">
                <a class="text-reset text-decoration-none" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    USD <i class="fa fa-angle-down"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item active" href="#">USD $</a>
                    <a class="dropdown-item" href="#">AUD $</a>
                    <a class="dropdown-item" href="#">EUR €</a>
                    <a class="dropdown-item" href="#">GBP £</a>
                </div>
            </div>
            <div class="dropdown show">
                <a class="text-reset text-decoration-none" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ENGLISH <i class="fa fa-angle-down"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item active" href="#">
                        <img src="https://demotheme.site/prestashop/at_nova_demo/img/l/1.jpg" alt="en" width="16"
                            height="11">
                        English
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="https://demotheme.site/prestashop/at_nova_demo/img/l/2.jpg" alt="fr" width="16"
                            height="11">
                        Français
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="https://demotheme.site/prestashop/at_nova_demo/img/l/3.jpg" alt="de" width="16"
                            height="11">
                        Deutsch
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="https://demotheme.site/prestashop/at_nova_demo/img/l/4.jpg" alt="it" width="16"
                            height="11">
                        Italiano
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="https://demotheme.site/prestashop/at_nova_demo/img/l/5.jpg" alt="es" width="16"
                            height="11">
                        Español
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="https://demotheme.site/prestashop/at_nova_demo/img/l/6.jpg" alt="ar" width="16"
                            height="11">
                        اللغة العربية
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="https://demotheme.site/prestashop/at_nova_demo/img/l/7.jpg" alt="pl" width="16"
                            height="11">
                        Polski
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- Top navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white nova-bottom-navbar">
    <div class="col-4 col-lg-2">
        <a class="navbar-brand" href="#">
            <img class="img-fluid"
                src="https://demotheme.site/prestashop/at_nova_demo/img/nova-fashion-store-logo-1544243007.jpg"
                alt="Nova Logo">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    </div>

    <div class="col-4 col-lg-7">
        <div class="collapse navbar-collapse text-black text-uppercase font-weight-bold" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="">Home </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/clothes">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-4 col-lg-3 nova-bottom-right-navbar d-flex justify-content-end">
        <a href="#"><i class="fa fa-search"></i></a>
        <div class="dropdown" (mouseover)="onHoverBoxUser()">
            <div class="open">
                <a>
                    <i class="fa fa-user"></i>
                </a>
                <div *ngIf="!isLogged" class="popup-content dropdown-menu">
                    <div class="row dropdown">
                        <div class="col-sm-12 full-width active">
                            <h3 class="nova-login-title mb-2">Login to your account </h3>
                            <div *ngIf="isLoginFailed" class="alert alert-danger" role="alert">
                                Login Failed!
                            </div>
                            <form #heroForm="ngForm">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" required=""
                                        placeholder="Email Address" [(ngModel)]="email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="email" required=""
                                        placeholder="Password" [(ngModel)]="password">
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <div>
                                        <input type="checkbox" name="rememberme">
                                        <label class="form-control-label pl-2">Remember Me</label>
                                    </div>
                                    <div class="text-right">
                                        <a href="#">Forgot Password ?</a>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <button type="button" class="form-control-submit btn btn-primary w-100 mb-3"
                                        (click)="onLogin()">
                                        Login
                                    </button>
                                    <div class="checkbox">
                                        <label class="form-check-label">
                                            <input type="checkbox" id="Register" name="acceptLopd">
                                            <a href="#">I accept conditions</a>
                                            <span style="color:red">*</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <a class="p-0" href="#">No account? Create one here ?</a>
                                </div>
                            </form>
                        </div>
                        <!-- <div class="leo-form leo-register-form col-sm-12 full-width leo-form-inactive">
                            <h3 class="leo-register-title"> New Account Register</h3>
                            <form class="lql-form-content leo-register-form-content" action="#" method="post">
                                <div class="form-group lql-form-mesg has-success"></div>
                                <div class="form-group lql-form-mesg has-danger"></div>
                                <div class="form-group lql-form-content-element"> <input type="text"
                                        class="form-control lql-register-firstname" name="lql-register-firstname"
                                        placeholder="First Name"></div>
                                <div class="form-group lql-form-content-element"> <input type="text"
                                        class="form-control lql-register-lastname" name="lql-register-lastname"
                                        required="" placeholder="Last Name"></div>
                                <div class="form-group lql-form-content-element"> <input type="email"
                                        class="form-control lql-register-email" name="lql-register-email" required=""
                                        placeholder="Email Address"></div>
                                <div class="form-group lql-form-content-element"> <input type="password"
                                        class="form-control lql-register-pass" name="lql-register-pass" required=""
                                        placeholder="Password"></div> <label>
                                    <div class="form-group lql-form-content-element leo-form-chk"> <input
                                            type="checkbox" class="lql-register-check" name="lql-register-check">I agree
                                        to the terms.</div>
                                </label>
                                <div class="form-group text-right"> <button type="submit" name="submit"
                                        class="form-control-submit lql-form-bt lql-register-bt btn btn-primary"> <span
                                            class="leoquicklogin-loading leoquicklogin-cssload-speeding-wheel"></span>
                                        <i class="leoquicklogin-icon leoquicklogin-success-icon material-icons"></i> <i
                                            class="leoquicklogin-icon leoquicklogin-fail-icon material-icons"></i>
                                        <span class="lql-bt-txt"> Create an Account </span> </button>
                                    <div class="checkbox idxjslopd-check-newsletter"><label
                                            class="form-check-label"><input type="checkbox" id="Register"
                                                name="acceptLopd" class=""><a href="#">I accept conditions</a> <span
                                                style="color:red">*</span></label><br><span
                                            class="check-error-newsletter2" style="display:none;color:red;">Click on the
                                            checkbox.</span><span class="text_bt"><span></span></span></div>
                                </div>
                                <div class="form-group lql-calllogin">
                                    <div>Already have an account?</div> <a role="button" href="#"
                                        class="lql-calllogin-action">Log in instead</a> Or <a role="button" href="#"
                                        class="lql-calllogin-action lql-callreset-action">Reset password</a>
                                </div>
                            </form>
                        </div> -->
                    </div>
                    <div class="nova-social-login">
                        <h3 class="nova-social-login-title"> Connect with Social Networks</h3>
                        <button class="btn social-login-btn facebook-login-btn">
                            <span class="fa fa-facebook"></span>
                        </button>
                        <button class="btn social-login-btn google-login-btn">
                            <span class="fa fa-google"></span>
                        </button>
                        <button class="btn social-login-btn twitter-login-btn">
                            <span class="fa fa-twitter"></span>
                        </button>
                    </div>
                </div>


                <div *ngIf="isLogged" class="dropdown-menu popup-content-info">
                    <a routerLink="/profile" class="dropdown-item px-3" href="#">
                        <i class="fa fa-user mr-2" aria-hidden="true"></i>
                        {{currentUser?.firstName}} {{currentUser?.lastName}}
                    </a>
                    <a class="c-pointer dropdown-item mt-2 px-3" (click)="logout()">
                        <i class="fa fa-sign-out mr-2" aria-hidden="true"></i>
                        Sign out
                    </a>
                </div>
            </div>
        </div>
        <a class="position-relative" href="#">
            <i class="fa fa-heart"></i>
            <span>0</span>
        </a>
        <a href="#" class="position-relative">
            <i class="fa fa-shopping-cart"></i>
            <span>0</span>
        </a>
    </div>
</nav>