@import "./src/assets/scss/abstracts/variables.scss";

.nova-top-navbar {
  background-color: #000;
  font-size: 15px;

  .nova-top-navbar-btn-shop {
    color: #fcf02e;
    border-bottom: 2px solid;
    // transition: $transition;

    &:hover {
      text-decoration: none;
      color: $orange;
    }
  }

  .dropdown {
    a {
      font-size: 14px;
      &:hover {
        opacity: 0.8;
      }
    }

    .dropdown-menu {
      top: 32px;
      border-radius: 0;
      .dropdown-item {
        transition: all 0.2s ease-in-out;
        &.active,
        &:hover {
          background-color: transparent;
          color: $orange;
        }
      }
    }
  }
}

.nova-bottom-navbar {
  padding: 40px 0;
}

.nova-bottom-right-navbar {
  font-size: 22px;
  a {
    color: #222;
    padding: 0 10px;
    transition: $transition;
    &:hover {
      text-decoration: none;
      opacity: 0.9;
      color: $orange;
    }
    span {
      font-size: 15px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      width: 17px;
      height: 17px;
      background: $orange;
      text-align: center;
      line-height: 17px;
      border-radius: 50%;
    }
  }
}

.nav-item {
  &.active,
  &:hover {
    .nav-link {
      color: $orange !important;
    }
  }
  .nav-link {
    font-size: 14px;
    padding: 0 15px;
    color: $black;
    transition: $transition;
  }
}

.nova-bottom-right-navbar {
  .dropdown {
    .nova-login-title {
      font-size: 22px;
    }

    &:hover {
      .popup-content {
        display: block;
      }
      .popup-content-info {
        display: block;
      }
    }

    .popup-content {
      width: 300px;
      padding: 20px;
      margin: 0;
      position: absolute;
      top: 100%;
      background: #fff;
      border: none;
      min-width: 160px;
      z-index: 999999;
      display: none;
      left: inherit;
      text-align: left;
      right: 0;
      transition: opacity 0.3s linear 0s;
      border-radius: 0;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

      .form-control-submit {
        display: block;
        width: 100%;
        background-color: #222;
        font-weight: 600;
        transition: none;
        border-radius: 0;
        box-shadow: none;
        border: none;
        transition: $transition;
        text-transform: uppercase;

        &:hover {
          background-color: #e97e3d;
        }
      }
    }

    .nova-social-login {
      margin-top: 10px;
      padding: 20px 0;
      border-top: 2px dashed #e6e6e6;
      text-align: center;
      .nova-social-login-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 15px;
      }

      .social-login-btn {
        display: inline-block;
        font-size: 0;
        position: relative;
        padding: 0;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 54px;
        border-radius: 50px;
        margin: 0 10px;
        span {
          color: #fff;
          font-size: 18px;
        }

        &.facebook-login-btn {
          background: #3b5998;
        }
        &.google-login-btn {
          background: #e74c3c;
        }
        &.twitter-login-btn {
          background: #1da1f2;
        }
      }
    }
  }
}
