<nav class="navbar navbar-expand-sm navbar-dark text-white nova-top-navbar">
    <div class="container-fluid py-1">
        <div class="col-md-4 col-6 text-left">
            <i class="fa fa-phone"></i>
            (+84) 0123 456 789
        </div>
        <div class="col-md-4 d-none d-md-block text-center">
            Free shipping for order over $200 !
            <a href="#" class="nova-top-navbar-btn-shop">Shop Now</a>
        </div>
        <div class="col-md-4 col-6 d-flex justify-content-end">
            <div>usd</div>
            <div>english</div>
        </div>
    </div>
</nav>
<!-- Top navbar -->
<nav class="navbar navbar-expand-sm navbar-light bg-white bottom-navbar">
    <a class="navbar-brand" href="#">
        <img class="img-fluid"
            src="https://demotheme.site/prestashop/at_nova_demo/img/nova-fashion-store-logo-1544243007.jpg"
            alt="Nova Logo">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse text-black text-uppercase font-weight-bold" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
    <div class="sd-right-nav">
        <a href="#"><i class="fa fa-search"></i></a>
        <a href="#"><i class="fa fa-user"></i></a>
        <a href="#">
            <i class="fa fa-heart"></i>
            <span>0</span>
        </a>
        <div class="d-inline-block">
            <i class="fa fa-shopping-cart"></i>
            <span>0</span>
        </div>
    </div>
</nav>