.new-products-title {
  font-size: 14px;
  font-weight: 400;
  color: #666;
  text-decoration: none;
}

.price {
  color: #222;
  font-weight: 700;
  font-size: 16px;
}

.rating {
  i {
    color: #d8d8d8;
    font-size: 13px;
    padding-right: 2px;
  }
}

.all-product-link {
  background-color: #282d35;
  padding: 7px 45px;
  border-radius: 0;
  font-weight: 600;
  font-size: 14px;
  color: white;
}
