<div class="container-fluid p-3 text-center">
    <h4 class="nova-title font-weight-bold mt-3 ">LookBook</h4>
    <p class="nova-description mb-4">
        Learning is cool, but knowing is better, and I know the key to success
    </p>
    <div class="row">
        <div class="col-md-4">
            <img src="https://demotheme.site/prestashop/at_nova_demo/themes/at_nova/assets/img/modules/appagebuilder/images/book-1.jpg"
                alt="" class="w-100 h-auto">
        </div>
        <div class="col-md-4">
            <img src="https://demotheme.site/prestashop/at_nova_demo/themes/at_nova/assets/img/modules/appagebuilder/images/book-2.jpg"
                alt="" class="w-100 h-auto">
        </div>
        <div class="col-md-4">
            <img src="https://demotheme.site/prestashop/at_nova_demo/themes/at_nova/assets/img/modules/appagebuilder/images/book-3.jpg"
                alt="" class="w-100 h-auto">
        </div>
    </div>
</div>