<div class="nova-breadcrumb container-fluid p-0 position-relative">
    <div
        class="nova-box-breadcrumb d-flex flex-column align-items-center justify-content-center text-center position-absolute">
        <h1 class="h1 category-name m-0">Men</h1>
        <ol class="breadcrumb m-0 bg-transparent justify-content-center">
            <li class="breadcrumb-item active"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"><a href="#">Clothes</a></li>
        </ol>
    </div>
    <div class="nova-breadcrumb">
        <img src="https://demotheme.site/prestashop/at_nova_demo/c/4-category_default/men.jpg"
            class="img-fluid category-cover" alt="Men">
    </div>
</div>
<div class="container-fluid mt-5 ">
    <div class="row mb-5">
        <div class="col-lg-3 col-md-4">
            <app-category-sidebar></app-category-sidebar>
        </div>
        <div class="col-lg-9 col-md-8">
            <app-category-result></app-category-result>
        </div>
    </div>
</div>