.nav-btn {
  font-size: 12px;
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100%;
  line-height: 40px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  //   opacity: 0;
  transition: all 0.3s ease-in-out;

  &.next-slide {
    right: 10px;
  }

  &.prev-slide {
    left: 10px;
  }
}

.container-fluid:hover {
  .nav-btn {
    opacity: 1;
  }
}
