<div class="container mt-5">

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#description" role="tab"
                aria-controls="description" aria-selected="true" aria-expanded="true">Description</a></li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#product-details" role="tab"
                aria-controls="product-details" aria-expanded="false">Product Details</a></li>
        <li class="nav-item"> <a class="nav-link leo-product-show-review-title" data-toggle="tab" href="#reviews"
                aria-expanded="false">Reviews</a></li>
    </ul>
    <div class="tab-content">
        <div id="description" class="tab-pane fade in active show">
            <div class="product-description">
                <p>Curabitur egestas malesuada volutpat. Nunc vel vestibulum odio, ac pellentesque lacus.
                    Pellentesque dapibus nunc nec est imperdiet, a malesuada sem rutrum. Sed quam odio, porta a
                    finibus quis, sagittis aliquet leo. Nunc ornare metus urna, eu luctus velit placerat ut.
                    Cras at porttitor lectus. Ut dapibus aliquam nibh, in imperdiet libero tincidunt sit amet.
                    Morbi sodales fermentum nibh nec facilisis. Morbi pharetra varius velit, eget varius libero
                    finibus quis. Quisque auctor varius lectus, lacinia rhoncus velit posuere vel. Cras
                    condimentum tincidunt urna, sed vehicula ipsum dapibus et. Pellentesque pharetra ultrices
                    varius. Sed viverra nec purus ut ornare.</p>
                <ul>
                    <li>Aenean auctor sem ac ex efficitur</li>
                    <li>Non mattis odio bibendum</li>
                    <li>Sed vitae enim at tortor finibus</li>
                    <li>Integer facilisis eleifend vehicula</li>
                    <li>In hac habitasse platea dictumst</li>
                </ul>
                <p>Sed molestie orci sem, at semper est molestie ac. Suspendisse cursus feugiat erat, eu posuere
                    massa. Nullam posuere nibh non eros lobortis tempus. Maecenas dignissim elementum massa, vel
                    accumsan urna elementum in. Suspendisse at dui euismod, rhoncus eros non, imperdiet ipsum.
                    Vestibulum vehicula vel turpis et vestibulum. Ut porta et ex maximus malesuada.</p>
                <img class="img-fluid"
                    src="https://demotheme.site/prestashop/at_nova_demo/themes/at_nova/assets/img/modules/appagebuilder/images/bg-hotspot.jpg" />

            </div>
        </div>
        <div id="product-details" class="tab-pane fade">
            <div class="product-manufacturer"> <a
                    href="https://demotheme.site/prestashop/at_nova_demo/en/1_studio-design"> <img
                        src="https://demotheme.site/prestashop/at_nova_demo/img/m/1.jpg"
                        class="img img-thumbnail manufacturer-logo" alt="Studio Design"> </a></div>
            <div class="product-reference"> <label class="label">Reference </label> <span itemprop="sku">demo_3</span>
            </div>
            <div class="product-quantities"> <label class="label">In stock</label> <span data-stock="1188"
                    data-allow-oosp="0">1188 Items</span></div>
        </div>
        <div id="reviews" class="tab-pane fade">
            <div id="product_reviews_block_tab">
                <div class="review" itemprop="review" itemscope="" itemtype="https://schema.org/Review">
                    <div class="review-info row">
                        <div class="review_author col-sm-3"> <span>Grade&nbsp;</span>
                            <div class="star_content clearfix" itemprop="reviewRating" itemscope=""
                                itemtype="https://schema.org/Rating">
                                <div class="star star_on"></div>
                                <div class="star star_on"></div>
                                <div class="star star_on"></div>
                                <div class="star star_on"></div>
                                <div class="star"></div>
                                <meta itemprop="worstRating" content="0">
                                <meta itemprop="ratingValue" content="4">
                                <meta itemprop="bestRating" content="5">
                            </div>
                            <div class="review_author_infos"> <strong itemprop="author">sdfsdf</strong>
                                <meta itemprop="datePublished" content="2019-11-25"> <em>11/25/2019</em></div>
                        </div>
                        <div class="review_details col-sm-9">
                            <p itemprop="name" class="title_block"> <strong>dsf</strong></p>
                            <p itemprop="reviewBody">fsdf</p>
                        </div>
                    </div>
                    <div class="review_button">
                        <ul></ul>
                    </div>
                </div> <a class="open-review-form" href="#" data-id-product="2" data-is-logged=""
                    data-product-link="https://demotheme.site/prestashop/at_nova_demo/en/home/2-brown-bear-printed-sweater.html"
                    style="display: inline;"> <i class="material-icons"></i> Write a review </a>
            </div>
        </div>
    </div>

</div>