<div class="nova-banner-card position-relative">
    <img class="w-100 h-auto" [src]="img" alt="Banner" />
    <div class="row position-absolute ">
        <div class="col-6 pl-5 align-items-center d-flex">
            <div class="nova-banner-card-content ml-5">
                <h6> # SPRING 2019</h6>
                <h4> New Arrivals</h4>
                <h6> Learning is cool, but knowing is better, and I know the key to success</h6>
                <button type="button" class="btn btn-primary"> Discover Now</button>
            </div>
        </div>
    </div>

</div>