<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-6 col-lg-5">

            <div class="nova-tab-content">


                <ngb-tabset [destroyOnHide]="false" #t="ngbTabset">
                    <ngb-tab *ngFor="let image of product?.images; let i = index" [id]='i'>
                        <ng-template ngbTabContent>
                            <img [src]="image" alt="" class="w-100">
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>

            <ul ngbNav #nav="ngbNav" class="nav-tabs nova-nav-image">
                <owl-carousel-o [options]="customOptions">
                    <ng-template *ngFor="let image of product?.images; let i = index" carouselSlide>
                        <li ngbNavItem>
                            <a ngbNavLink>
                                <img [src]="image" (click)="t.select(i)" class="img-fluid">
                            </a>
                        </li>
                    </ng-template>
                </owl-carousel-o>
            </ul>


        </div>
        <div class="col-md-6 col-lg-7 nova-product-detail-content">
            <h4 class="name">{{product?.name}}</h4>
            <div class="review">
                <a href="#"> <i class="fa fa-pencil"></i> Add Reviews </a>
            </div>
            <div class="prices">
                <div class="current-price d-inline">
                    ${{product?.price}}
                    <span class="discount-percentage">(Save 10%)</span>
                </div>
                <div class="regular-price d-inline"> ${{product?.regularPrice}}</div>
                <div class="tax-shipping-delivery-label">
                    Tax excluded
                    <div class="delivery-information">
                        Delivery: 1 to 3 weeks
                    </div>
                </div>
                <div class="product-availability">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    {{product?.quantity > 0 ? 'In stock' : 'Not available'}}
                </div>
                <div class="product-attributes-label">
                    <div class="product-manufacturer">
                        <label class="label">Brand</label>
                        <a href="#">
                            <img src="https://demotheme.site/prestashop/at_nova_demo/img/m/1.jpg" alt="Studio Design">
                        </a>
                    </div>
                    <div class="product-reference"> <label class="label">Reference </label> <span>demo_3</span></div>
                    <div class="product-quantities"> <label class="label">
                            {{product?.quantity > 0 ? 'In stock' : 'Not available'}}</label> <span>{{product?.quantity}}
                            Items</span></div>
                </div>
            </div>
            <div class="description-short">
                {{product?.desciription}}
            </div>
            <div class="product-actions">
                <div class="product-variants d-flex align-items-center">
                    <span class="control-label">Size</span>
                    <ul class="d-flex m-0">
                        <li class="input-container active">
                            S
                        </li>
                        <li class="input-container">
                            M
                        </li>
                        <li class="input-container">
                            L
                        </li>
                        <li class="input-container">
                            XL
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 mb-4 border-top border-bottom py-3">
                    <div class="functional-buttons d-flex">
                        <div class="btn-func wishlist border mr-5">
                            <a class="leo-wishlist-button btn-product btn" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div class="btn-func button-container add-to-cart border">
                            <a href="#" class="btn-product">
                                Add to cart
                            </a>
                        </div>
                        <div class="btn-func compare border mx-3">
                            <a class="leo-compare-button btn-product btn" href="#">
                                <i class="fa fa-compress" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="btn-func wishlist border">
                            <a class="leo-wishlist-button btn-product btn" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="social-sharing d-flex">
                <span><i class="fa fa-share-alt"></i> Share this:</span>
                <ul class="d-flex list-unstyled mx-3">
                    <li class="facebook mr-3">
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="twitter mr-3">
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="googleplus mr-3">
                        <a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li class="pinterest">
                        <a href="#">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled">
                    <li>
                        <div class="block-reassurance-item"> <img
                                src="https://demotheme.site/prestashop/at_nova_demo/modules/blockreassurance/img/ic_verified_user_black_36dp_1x.png"
                                alt="Security policy (edit with Customer reassurance module)"> <span
                                class="ml-3">Security
                                policy (edit with Customer reassurance module)</span></div>
                    </li>
                    <li>
                        <div class="block-reassurance-item"> <img
                                src="https://demotheme.site/prestashop/at_nova_demo/modules/blockreassurance/img/ic_local_shipping_black_36dp_1x.png"
                                alt="Delivery policy (edit with Customer reassurance module)"> <span
                                class="ml-3">Delivery
                                policy (edit with Customer reassurance module)</span></div>
                    </li>
                    <li>
                        <div class="block-reassurance-item"> <img
                                src="https://demotheme.site/prestashop/at_nova_demo/modules/blockreassurance/img/ic_swap_horiz_black_36dp_1x.png"
                                alt="Return policy (edit with Customer reassurance module)"> <span class="ml-3">Return
                                policy (edit with Customer reassurance module)</span></div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>