<div id="search_filters">
    <section class="facet">
        <p class="facet-title">Color</p>
        <div [class.active]="colorItem.isSelected" *ngFor="let colorItem of filter.colors"
            class="facet-option d-flex align-items-center" (click)="onChangeFilter(colorItem)">
            <span [ngStyle]="{'background-color': colorItem.value}" class="facet-label-circle"></span>
            <p class="m-0 text-capitalize">{{colorItem.value}}</p>
            <span class="facet-magnitude">(1)</span>
        </div>
    </section>
    <section class="facet">
        <p class="facet-title">Size</p>
        <div [class.active]="sizeItem.isSelected" *ngFor="let sizeItem of this.filter.sizes"
            class="facet-option d-flex align-items-center" (click)="onChangeFilter(sizeItem)">
            <span class="facet-label-square"></span>
            <p class="m-0">{{sizeItem.value}}</p>
            <span class="facet-magnitude">(1)</span>
        </div>
    </section>
    <section class="facet">
        <p class="facet-title">Availability</p>
        <div [class.active]="item.isSelected" *ngFor="let item of filter.availabilitys"
            class="facet-option d-flex align-items-center" (click)="onChangeFilter(item)">
            <span class="facet-label-square"></span>
            <p class="m-0">{{item.name}}</p>
            <span class="facet-magnitude">(1)</span>
        </div>
    </section>
    <section class="facet">
        <p class="facet-title">Price</p>
        <p class="facet-label-price">$21.000000 - $22.000000</p>
        <div class="slidecontainer">
            <input type="range" min="1" max="100" value="100" class="slider" id="myRange">
        </div>
    </section>


</div>