<div id="search_filters">
    <section class="facet">
        <p class="facet-title">Color</p>
        <div class="facet-option d-flex align-items-center">
            <span class="facet-label-circle label-white"></span>
            <p class="m-0">White</p>
            <span class="facet-magnitude">(1)</span>
        </div>
        <div class="facet-option d-flex align-items-center">
            <span class="facet-label-circle label-black"></span>
            <p class="m-0">Black</p>
            <span class="facet-magnitude">(1)</span>
        </div>
    </section>


    <section class="facet">
        <p class="facet-title">Size</p>
        <div class="facet-option d-flex align-items-center">
            <input class="facet-ckb" type="checkbox">
            <p class="m-0">S</p>
            <span class="facet-magnitude">(1)</span>
        </div>
        <div class="facet-option d-flex align-items-center">
            <input class="facet-ckb" type="checkbox">
            <p class="m-0">M</p>
            <span class="facet-magnitude">(1)</span>
        </div>
        <div class="facet-option d-flex align-items-center">
            <input class="facet-ckb" type="checkbox">
            <p class="m-0">L</p>
            <span class="facet-magnitude">(1)</span>
        </div>
        <div class="facet-option d-flex align-items-center">
            <input class="facet-ckb" type="checkbox">
            <p class="m-0">XL</p>
            <span class="facet-magnitude">(1)</span>
        </div>
    </section>



    <section class="facet">
        <p class="facet-title">Availability</p>
        <div class="facet-option d-flex align-items-center">
            <input class="facet-ckb" type="checkbox">
            <p class="m-0">In stock</p>
            <span class="facet-magnitude">(1)</span>
        </div>
        <div class="facet-option d-flex align-items-center">
            <input class="facet-ckb" type="checkbox">
            <p class="m-0">Not available</p>
            <span class="facet-magnitude">(1)</span>
        </div>
    </section>
    <section class="facet">
        <p class="facet-title">Price</p>
        <p class="facet-label-price">$21.000000 - $22.000000</p>
        <div class="slidecontainer">
            <input type="range" min="1" max="100" value="100" class="slider" id="myRange">
        </div>
    </section>


</div>