.btn-back-your-account {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    color: #e97e3d !important;
  }
}
.card {
  box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0;
  border-color: white;
}

table {
  font-size: 14px;
}

.order {
  color: #878787;
  .date,
  .total {
    font-size: 14px;
  }

  h3 {
    font-size: 18px;
  }
}
